/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	font-family: "Open Sans",arial,sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.headerContainer{
	background-color: #ff8b00;
	color: white;
	padding-left: 50px;
}

.instructionscontrainer{
	border: solid #ff8b00 3px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 75px;
	margin-bottom: 75px;
	padding: 25px;
	color: #ff8b00;
}

.stunningcontainer{
	background-color: #D3D3D3;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 75px;
	padding-bottom: 75px;
	color: #514F52;

}

.instructiontext{
	font-size: .82em;
	font-weight: bold;
	line-height: 1.5;
}

.pull-right{
	float: right;
}

.captainimage{
	width:13em;
	color: #D2D2D2;
	border-width: thick;
	border: solid;
}

.stunningimage{
	width:15em;
	color: #FEFFFF;
	border-width: thick;
	border: solid;
}

.stunning-text{
	width:70%;
}

.stunning-paragraph{
	font-size: .82em;
	line-height: 1.5;
}

.grom-text{
	font-weight: bold;
}


.pull-left{
	float: left;
}
/*Dylan MacDonald header*/
h1{
	display: inline-block;
	font-size: 4em;
}

h2{
	font-size: 1.75em;
	margin-top: 0;
}
.clearfix{
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
******************************************************/